:root {
    /*  Retire le surlignage bleu de selection  */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #444444;
    color: #eeeeee;
}

#mainDiv {
    margin: auto;
    background-image: url("../img/background.png");
    height: 600px;
    width: 900px;
    border-style: solid;
    border-color: #eeeeee;
    padding: 0;
}